#b1{
    font-size: 20px;
    margin-left: 700px;
    background: linear-gradient(to bottom, #0ba2f3, #8f94fb);
}

#b2{
    font-size: 20px;
    background: linear-gradient(to bottom, #0ba2f3, #8f94fb);
}

#b3{
    font-size: 20px;
    background: linear-gradient(to bottom, #0ba2f3, #8f94fb);
}

#b4{
    font-size: 20px;
    background: linear-gradient(to bottom, #0ba2f3, #8f94fb);
}
#b5{
    font-size: 20px;
    background: linear-gradient(to bottom, #0ba2f3, #8f94fb);
}

#b6{
    font-size: 20px;
    margin-left: 700px;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
}

#b7{
    font-size: 20px;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
}

#b8{
    font-size: 20px;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
}

#b9{
    font-size: 20px;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
}
#b10{
    font-size: 20px;
    background: linear-gradient(to bottom, #7f00ff, #e100ff);
}

#b11{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom, green, green);
}

#b12{
    font-size: 20px;
    background: linear-gradient(to bottom, green, green);
}

#b13{
    font-size: 20px;
    background: linear-gradient(to bottom, green, green);
}

#b14{
    font-size: 20px;
    background: linear-gradient(to bottom, green, green);
}

#b15{
    font-size: 20px;
    background: linear-gradient(to bottom, green, green);
}

#b16{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom, rgb(27, 236, 27), rgb(27, 236, 27));
}

#b17{
    font-size: 20px;
    background: linear-gradient(to bottom, rgb(27, 236, 27), rgb(27, 236, 27));
}

#b18{
    font-size: 20px;
    background: linear-gradient(to bottom, rgb(27, 236, 27), rgb(27, 236, 27));
}

#b19{
    font-size: 20px;
    background: linear-gradient(to bottom, rgb(27, 236, 27), rgb(27, 236, 27));
}

#b20{
    font-size: 20px;
    background: linear-gradient(to bottom, rgb(27, 236, 27), rgb(27, 236, 27));
}

#b21{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom, yellow, yellow);
}

#b22{
    font-size: 20px;
    background: linear-gradient(to bottom, yellow, yellow);
}

#b23{
    font-size: 20px;
    background: linear-gradient(to bottom, yellow, yellow);
}

#b24{
    font-size: 20px;
    background: linear-gradient(to bottom, yellow, yellow);
}

#b25{
    font-size: 20px;
    background: linear-gradient(to bottom, yellow, yellow);
}
#b26{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom, brown, brown);
}

#b27{
    font-size: 20px;
    background: linear-gradient(to bottom, brown, brown);
}

#b28{
    font-size: 20px;
    background: linear-gradient(to bottom, brown, brown);
}

#b29{
    font-size: 20px;
    background: linear-gradient(to bottom, brown, brown);
}

#b30{
    font-size: 20px;
    background: linear-gradient(to bottom, brown, brown);
}
#b31{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom, #e100ff, #e100ff);
}

#b32{
    font-size: 20px;
    background: linear-gradient(to bottom, #e100ff, #e100ff);
}

#b33{
    font-size: 20px;
    background: linear-gradient(to bottom, #e100ff, #e100ff);
}

#b34{
    font-size: 20px;
    background: linear-gradient(to bottom, #e100ff, #e100ff);
}

#b35{
    font-size: 20px;
    background: linear-gradient(to bottom, #e100ff, #e100ff);
}

#b36{
    margin-left: 700px;
    font-size: 20px;
    background: linear-gradient(to bottom,  #8f94fb, #8f94fb);
}

#b37{
    font-size: 20px;
    background: linear-gradient(to bottom,  #8f94fb, #8f94fb);
}

#b38{
    font-size: 20px;
    background: linear-gradient(to bottom,  #8f94fb, #8f94fb);
}

#b39{
    font-size: 20px;
    background: linear-gradient(to bottom, #8f94fb, #8f94fb);
}

#b40{
    font-size: 20px;
    background: linear-gradient(to bottom,  #8f94fb, #8f94fb);
}