img{
    margin-right: 5px;
}

#img1{
    margin-left: 50px;
}

h1{
    text-align: center;
}

#imgs3{
    float: left;
    height: 250px;
    width: 350px;
}

p{
    text-align: center;
}

#p1{
    font-size: 20px;
    text-align: left;
    font-family: solid;
}

#b2{
    background-color: aqua;
    color: blue;
    margin-left: 730px;
    cursor: pointer;
}

body{
    background: rgb(180,36,33);
    background: linear-gradient(102deg, rgba(180,36,33,1) 32%, rgba(218,206,201,1) 100%);
}