#n1{
    color: cornflowerblue;
}

#p1{
    text-indent: 35px;
}

img{
    float: right;
}

#n2{
    color: cornflowerblue;
}

#p2{
    text-indent: 35px;
}



#n3{
    color: cornflowerblue;
}

#p3{
    text-indent: 35px;
}

#n4{
    color: cornflowerblue;
}

#p4{
    text-indent: 35px;
}