body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 20px;
}

.gallery{
    width: 700px;
    /* overflow: hidden; */
}

.gallery img{
    display: inline-block;
    width: 200px;
    margin: 5px;
}

